<h1>Income Categories</h1>
<%= link_to "Create Icategory", new_icategory_path, :class => "btn btn-primary pull-right" %>
<%= render "categories/table" %>
<%= link_to "Back", root_path, :class => "btn btn-default" %>