<h1>Expense Categories</h1>
<%= link_to "Create Ecategory", new_ecategory_path, :class => "btn btn-primary pull-right" %>
<%= render "categories/table" %>
<%= link_to "Back", root_path, :class => "btn btn-default" %>